body {
    background-color: orange;
}

/* =====================================
PIRMAS BLOKAS
===================================== */


#pirmas h1,
#pirmas h2 {
    display: inline;
}

/* =====================================
ANTRAS BLOKAS
===================================== */

#antras form input {
    display: block;
}

/* =====================================
NAVIGACIJOS BLOKAS
===================================== */

#navigacija {
    background: rgb(20, 18, 18);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigacija a {
    color: white;
    text-decoration: none;
}

#navigacija .nuorodos {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#navigacija .nuoroda {
    display: inline;
    margin-left: 10px;
}

/* =====================================
HEADER BLOKAS
===================================== */

#header {
    background: firebrick;
    padding: 80px 40px;
}

#header h1 {
    margin: 0;
}

#header a {
    background: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    /* darant mygtuka kaip nuoroda naudoti inline-block visuomet */
    display: inline-block; 
}

/* =====================================
IMAGE BLOKAS
===================================== */

img {
    display: block;
}

/* =====================================
IMAGE CARD BLOKAS
===================================== */

#nuotr-blokas {
    background: white;
    width: 150px;
    margin: 50px auto;
}

#nuotr-blokas .nuotrauka {
    height: 150px;
    overflow: hidden;
}

#nuotr-blokas .nuotrauka img {
    /* prisitaiko pagal tevini elementa */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #nuotr-blokas .turinys {

} */

#nuotr-blokas:hover img {
    transform: scale(1.2);
}



