body {
    /* background: orange; */
    background-image: url('fonas.jpg');
    background-size: cover;
    background-position: top center;
}

.turinys {
    background: rgba(255, 255, 255, 0.5);

    /* width: 651px; */

    /* width: 51%; */

    width: 100%;
    max-width: 651px;

    /* height: 348px; */

    /* padding: 10px 0; */
}

.turinys h1 {
    color: black;
    font-size: 72px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    line-height: 79.20px;
    word-wrap: break-word;
}

.turinys p {
    color: black;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}