.outsideBox {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.card {
    width: 276px;
    height: 345px;
    position: relative;
    font-family: 'Inter';
    border-radius: 12px;
    background:#FFF;
    box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16), 0px 0px 1px 0px rgba(40, 41, 61, 0.04);
    box-sizing: border-box;
}

.card .cardPhoto {
    height: 176px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

p,
h2 {
    padding: 0;
    margin: 0;
}

.dateBox {
    color: #121212;
    background: #fff;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px rgba(96, 97, 112, 0.16), 0px 1px 1px 0px rgba(40, 41, 61, 0.04);
    display: inline-block;
    padding: 5.8px 15px 5.3px;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dateBox .dateDay {
    font-size: 24px;
    font-weight: 600;
}

.dateBox .dateMonth {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.card .type {
    color: #959393;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin: 32px 0px 0px;
}

.card h2 {
    color: #121212;
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0px 16px;
}

.card .buttonsBox {
    display: flex;
    gap: 12px;
}

.card .textBox {
    margin: 0px 16px;
}

.card .cardPhoto3 {
    object-position: 0px -60px;

}