body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 215, 219);
}

.game-inside {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Shrikhand', serif;
    font-size: 60px;
    letter-spacing: 8px;
    margin: 20px;
    color: rgb(31, 31, 31);
}

#card-div {
    display: flex;
    flex-wrap: wrap;
    height: 530px;
    width: 713px;
    box-sizing: border-box;
    gap: 20px;
}

#card-div .card {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.453);
    border-radius: 10px;
    box-sizing: border-box;
}

#card-div .card-open {
    background-color: aliceblue;
}

.img-open {
    display: none;
}

#card-div .card-closed {
    background-color: #ED5481;
}

.img-closed {
    display: block;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#modal .modal-info {
    background-color: rgb(250, 215, 219);
    margin: auto;
    padding: 20px;
    width: 80%;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.453);
    border: 5px solid black;
    text-align: center;
}

#modal button {
    border: 5px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(255, 234, 237);
    font-family: 'Shrikhand', serif;
    cursor: pointer;
}

#modal button:hover {
    border: 5px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(255, 206, 213);
    font-family: 'Shrikhand', serif;
}