.headerFull {
    background: #F95738;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
}

.headerFull .headerImage {
    width: 950px;
    height: 800px;
    position: absolute;
    opacity: 0.8;
    background: radial-gradient(52.95% 72.51% at 51.71% 56.69%, rgba(249, 87, 56, 0.00) 0%, #F95738 100%), url('images/headingImage.png');
    mix-blend-mode: luminosity;
    right: 0;
    top: 0;
    background-size: cover;
}

.headerFull .headerText h1 {
    color: #FFF;
    font-family: 'Sigmar One';
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    width: 1023px;
    position: relative;
}

.headerFull .headerText h1 span {
    color: #EFBE10;
}