.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.container-full {
  width: 100%;
  max-width: 100%;
}

.header {
  background-color: blue;
}

.header .container {
   background-color: green;
}

.hero {
  background-color: red;
}

.flex {
  display: flex;
  gap: 10px;
}

@media (min-width: 1024px) {
  .header .container {
      background-color: yellow;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .container {
      background-color: orange;
  }
}

@media (max-width: 768px) {
  .banner.container .flex {
      flex-direction: column
  }
}