.galleryFull {
    position: relative;
}

.gallery {
    width: 1052px;
    margin: 100px auto 104px;
}

.gallery h2 {
    color: #000;
    font-family: 'Sigmar One';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.gallery .floatingBlueIceCream {
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery .galleryBox{
    margin: 60px 0px 0px;
}