.fullOurProducts {
    background: #164780;
    height: 823px;
}

.ourProducts {
    width: 1320px;
    margin: auto;
    padding: 100px 0px;
}

.ourProducts h2 {
    color: #EFBE10;
    font-family: 'Sigmar One';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 60px;
}

.ourProducts .ourProductsCards {
    display: flex;
    gap: 34px;
    align-items: center;
}

.ourProducts .ourProductsCards #backButton {
    margin-right: 11px;
}

.ourProducts .ourProductsCards #frontButton {
    margin-left: 11px;
}

.ourProducts .ourProductsCards button {
    border: none;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.ourProducts .ourProductsCards button:hover svg {
    fill: #EFBE10;
}