.ourProductsCard {
    width: 334px;
    height: 505px;
    border-radius: 40px;
    overflow: hidden;
    background: white;
}

.ourProductsCard img {
    width: 334px;
    height: 220.63px;
    object-fit: cover;
}

.ourProductsCard h3 {
    color: #000;
    text-align: center;
    font-family: 'Sigmar One';
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 24px;
    letter-spacing: 0.96px;
}

.ourProductsCard .underLine {
    background: #000;
    width: 23px;
    height: 3px;
}

.ourProductsCard p {
    color: #000;
    text-align: center;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.54px;
}

.ourProductsCard a {
    color: #164780;
    text-align: center;
    font-family: 'Manrope';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #164780;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block
}

.ourProductsCard .cardTextBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 249px;
    align-items: center;
    margin: 32px auto;
    height: 215.37px;
}