body,
html {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  background: #d4f1e6;
}

.container {
  margin: 0px 150px;
}

.h1Box {
  padding: 121px 0px 65px;
}

h1 {
  color: #1f1f1f;
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 800;
}

.imageBox {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0px 0px 65px;
}

.imageBox img {
  height: 456px;
  border-radius: 62.897px;
  object-fit: cover;
}

.siauresnis {
  flex: 1;
}

.platesnis {
  flex: 2;
}

.textWithImageBox {
  border-radius: 24px;
  background: #fff;
  padding: 56px 60px;
  color: #1f1f1f;
  font-family: "Inter";
  display: flex;
  gap: 73px;
  margin-bottom: 126px;
}

.textBox h2 {
  font-size: 32px;
  font-weight: 700;
}

.textBox p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.textWithImageBox img {
  width: 342px;
  height: 532px;
  object-fit: cover;
  border-radius: 24px;
}
