h1 {
    background-color: #8DBB8D;
    color: white;
}

.blokas1 {
    background-color: #F5F5DC;
}

.blokas2 {
    background-color: #664BFB;
}

.blokas2 ul {
    color: white;
}

.kitoks-li-elementas {
    color: red;
    background-color: black;
}