.container {
    border-top: 1px solid rgba(211, 242, 219, 0.50);
    background: #16302D;
}

footer .footer-left .footer-left-top p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}

footer .footer-left .footer-left-top .footer-left-title {
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    line-height: 110%;
    font-weight: 500;
    letter-spacing: -1.5px;
}


footer .footer-left .footer-left-bottom p {
    color: rgba(255, 255, 255, 0.70);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
    letter-spacing: -0.12px;
}

footer .footer-left .footer-left-top form{
    display: flex;
    align-items: center;
}

footer .footer-left .footer-left-top form input {
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    padding: 10px 16px;
    width: 424px;
    height: 56px;
    box-sizing: border-box;

    color: rgba(255, 255, 255, 0.90);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.14px;
}

footer .footer-left .footer-left-top form button {
    background: #50C557;
    padding: 0px 32px;
    margin-left: 16px;
    height: 56px;
    box-sizing: border-box;

    color: #193A25;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}