.nav-bar {
    background: #16302D;
    box-shadow: 0px 9px 12.8px 0px rgba(80, 197, 87, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 300px;
}

/* BIG SCREENS */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .nav-bar {
        padding: 16px 150px;
    }
}

/* NORMAL SCREENS */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .nav-bar {
        padding: 16px 100px;
    }
}

/* LAPTOP */
@media screen and (min-width: 427px) and (max-width: 768px) {
    .nav-bar {
        padding: 8px 50px;
    }
}

/* PHONE */
@media screen and (max-width: 426px) {
    .nav-bar {
        padding: 8px 50px;
    }
}